.profile-cont-background {
  background: linear-gradient(to right bottom, #c850c0, #4258d0);

  display: flex;
  justify-content: center;
  height: 100%;
}

.static-profile-container {
  /* padding: 20rem; */
  align-self: center;
  display: flex;
  justify-content:space-evenly;
  /* align-items: center; */
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  /* max-width: 50vw; */
  background: #fff;
  height: 80%;
  width: 70%;
  border-radius: 1rem;
  /* margin: 2rem; */
}


.static-profile-cont-unite {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
  background-color: white;
  justify-content: center;
  align-self: center;
  border-radius: 2rem;
}
.carousel-button {
  align-self: center;
  height: 10vw;
  width: 10vw;
  /* background-color: red; */
  border: none;
  margin: 1rem;
  /* padding: 2rem; */

}
.static-info-div {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 10rem;
  background-color: #e6e6e6;
  /* height: 20%; */
  font-size: 1.4rem;
  padding: 2rem;
  color:rgb(128, 119, 119);
  /* text-align: center; */
  align-content: center;
}


.edit-profile-button {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  background-color: #57b846;
  color: white;
  font-size: 1.5rem;
  border-radius: 2.5rem;
  line-height: 1.5;
  width: 80%;
  /* height: 5rem; */
}
.edit-profile-button:active {

  box-shadow: 0rem 0.5rem 1rem rgba(0,0,0,0.7);
  transform: translateY(-0.1rem);

}



