.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}
.form-fields:nth-child(n-1) {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.username-label {
  height: 5rem;
  border-radius: 2rem;
}
.username-input {
  border-radius: 2rem;
  background-color: #e6e6e6;
}
.password-label {
  border-radius: 2rem;
}
.password-input {
  border-radius: 2rem;
  background-color: #e6e6e6;
}
.sign-in-button {
  background-color: #f50057;
}
.sign-in-button:active {
  box-shadow: 0rem 0.5rem 1rem rgba(#050505, 0.2);
  transform: translateY(-0.1rem);
}
