.static-profilePic-unite-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  width: 100%;
  align-self: center;
}
.static-profile-pic-container {
  align-self: center;
  border-radius: 100%;
  height: 20vh;
  width: 20vh;
  text-align: center;
  border: transparent;
}
.static-profilePic {
  border-radius: 50%;
  align-self: center;
  object-fit: contain;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
