<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lakki+Reddy&display=swap" rel="stylesheet">
</head>
  <body>
    <div class="dog-container">
      <div class="app">
        <div class="header">
          <span class="header-settings"></span>
          <span class="header-doggo">doggo</span>
          <span class="header-chat"></span>
        </div>
      </div>
        <div class="content">
          <img src="crazy.jpg" class="dog-image">
        </div>
        <div class="footer">
          <div id="swipe_dislike" class="rate"></div>
          <div class="info"></div>
          <div id="swipe_like" class="rate"></div>
        </div>
    </div>
  </body>
  </html>